/* ============================================================================================== 
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header {
  background-color:rgba(33, 33, 33, 0.9);
  color:#ffffff;
  display:block;
  font: 14px/1.3 Arial,sans-serif;
  height:50px;
  position:relative;
  z-index:5;
}
h2{
  margin-top: 30px;
  text-align: center;
}
header h2{
  font-size: 22px;
  margin: 0 auto;
  padding: 10px 0;
  width: 80%;
  text-align: center;
}
header a, a:visited {
  text-decoration:none;
  color:#fcfcfc;
}

.progress-bar{
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 1%;
  background-color: blue;
}
.image-count{
  position: fixed;
  color: rgba(255, 255, 255, 0.4);
  right: 10px;
  top: 5px;
}
.image-count:hover{
  color: rgba(255, 255, 255, 1);
}
.right-arror-container{
  position: fixed;
  right: -3rem;
  width: 6rem;
  height: 6rem;
  border: 3px solid white;
  background-color: #bbb;
  border-radius: 50%;
  transition: transform 500ms;
  cursor: pointer;
  animation: fade-in-out 5000ms linear 10ms infinite forwards;
}

.right-arror-container:hover{
  transform: scale(1.3);
  transition: transform 500ms;
}

.right-arrow{
  position: relative;
  top: 2rem;
  left: 0.7rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(45deg);
}



.left-arrow-container{
  position: fixed;
  left: -3rem;
  width: 6rem;
  height: 6rem;
  border: 3px solid white;
  background-color: #bbb;
  border-radius: 50%;
  transition: transform 500ms;
  cursor: pointer;
  animation: fade-in-out 5000ms linear 10ms infinite forwards;
}


.left-arrow-container:hover{
  transform: scale(1.3);
  transition: transform 500ms;
}

.left-arrow{
  position: relative;
  top: 2rem;
  left: 03.5rem;
  border-top: 2px solid white;
  border-right: 2px solid white;
  width: 1.5rem;
  height: 1.5rem;
  transform: rotate(-135deg);

}

.photoframe{
  padding: 1rem;
  overflow: hidden;
  border: 5px solid white;
}

.restart-button{
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  border-radius: 15px;
  width: 4rem;
  height: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  border: 3px solid yellow;
  z-index: 6;
}

@keyframes fade-in-out {
  0% {opacity: 0.4;}
  50% {opacity: 1;}
  100% {opacity: 0.4;}
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
  z-index:3;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}

.heart {
  width: 300px;
  height: 300px;
}
.heart-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

.birthday {
  height: 100vh;
}
.curtains {
  position: absolute;
  animation: moveUp 15s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}



@keyframes moveUp {
  from {
    top:0px;
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    top:-1300px;
  }
}

.pulse1 {
  -webkit-animation-name: pulse;
  animation: pulse 1s infinite;
}